In [2]:
import pandas as pd
import numpy as np
import os

In [4]:
df = pd.read_csv("/Users/yaseminerdemli/Documents/BA Courses/Dissertation/Project/Data/model_v2.csv")
df.head()

,State,ZipCode,state_abbreviation,USPS_ZIP_PREF_CITY,Higher Education,% Unemployment,"% Business, Science, Arts",% Poverty,Median Income,numberofStarbucks,...,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10,Cluster
0,Massachusetts,1001,MA,Agawam,0.347766,0.042573,0.459649,0.084415,89728.0,0.0,...,-0.770835,-0.450794,-0.009620,0.306444,-0.166754,0.457133,0.166091,0.193811,-0.103435,1
1,Massachusetts,1002,MA,Amherst,0.710799,0.076882,0.504244,0.238057,114866.0,0.0,...,-0.059409,-0.619848,-0.259594,2.357738,-1.215284,1.046059,0.963352,-0.578148,-0.890076,4
2,Massachusetts,1005,MA,Barre,0.377865,0.038710,0.409749,0.110557,108457.0,0.0,...,-1.388301,-0.060724,-0.250551,0.420306,0.024631,0.132128,0.311824,-0.013040,-0.043216,1
3,Massachusetts,1007,MA,Belchertown,0.465608,0.035925,0.527476,0.049720,110360.0,0.0,...,-1.859898,-0.399744,-0.204162,0.628142,-0.055601,0.387392,0.209973,-0.069183,-0.152908,4
4,Massachusetts,1008,MA,Blandford,0.358053,0.015517,0.425569,0.046595,97083.0,0.0,...,-1.787202,-0.162593,-0.050984,-0.215100,-0.035100,0.190708,0.153614,-0.029619,0.118200,1

In [6]:
df.columns

Index(['State', 'ZipCode', 'state_abbreviation', 'USPS_ZIP_PREF_CITY',
       'Higher Education', '% Unemployment', '% Business, Science, Arts',
       '% Poverty', 'Median Income', 'numberofStarbucks',
       'Average Daily Traffic Counts', 'Total Traffic Counts',
       'Count of Transit Stops', 'EmployeeNumber', 'near_city_center',
       'PotentialResidents', 'Competititors', 'HighIncomeDensity', 'PC1',
       'PC2', 'PC3', 'PC4', 'PC5', 'PC6', 'PC7', 'PC8', 'PC9', 'PC10',
       'Cluster'],
      dtype='object')

In [8]:
df.drop(columns = ['PC1','PC2', 'PC3', 'PC4', 'PC5', 'PC6', 'PC7', 'PC8', 'PC9', 'PC10'],inplace= True)

In [10]:
len(df)

28228

In [12]:
rank = pd.read_csv("/Users/yaseminerdemli/Documents/BA Courses/Dissertation/Project/Data/comparison.csv")

In [14]:
rank.columns

Index(['State', 'ZipCode', 'state_abbreviation', 'USPS_ZIP_PREF_CITY',
       'Cluster', 'Cluster_Grouped', 'TierLabel', 'RankNetScore', 'rank_index',
       'rank', 'TotalScore', 'ahp_index', 'ahp', 'numberofStarbucks',
       '% Business, Science, Arts', 'Higher Education', 'Median Income',
       'EmployeeNumber', 'Average Daily Traffic Counts', 'near_city_center',
       '% Poverty', 'PotentialResidents', 'HighIncomeDensity',
       '% Unemployment', 'Total Traffic Counts', 'Competititors',
       'Count of Transit Stops', 'common'],
      dtype='object')

In [16]:
rank = rank[['State', 'ZipCode', 'state_abbreviation', 'USPS_ZIP_PREF_CITY',
       'Cluster', 'Cluster_Grouped', 'TierLabel', 'RankNetScore', 'rank',
       'TotalScore', 'ahp','rank_index','ahp_index']]

In [18]:
rank = rank[rank['State'].isin(['California','District of Columbia','Maryland','Virginia','Texas','New York'])]

In [20]:
rank['BestZips'] = 1
rank

,State,ZipCode,state_abbreviation,USPS_ZIP_PREF_CITY,Cluster,Cluster_Grouped,TierLabel,RankNetScore,rank,TotalScore,ahp,rank_index,ahp_index,BestZips
4,California,90003,CA,Los Angeles,8.0,1.0,1st Tier,39.411186,1.0,NaN,NaN,114.0,NaN,1
5,California,90004,CA,Los Angeles,8.0,1.0,1st Tier,36.426070,1.0,NaN,NaN,163.0,NaN,1
6,California,90007,CA,Los Angeles,8.0,1.0,1st Tier,44.833000,1.0,NaN,NaN,61.0,NaN,1
7,California,90014,CA,Los Angeles,NaN,NaN,NaN,NaN,NaN,0.016593,1.0,NaN,253.0,1
8,California,90015,CA,Los Angeles,8.0,1.0,1st Tier,41.047245,1.0,NaN,NaN,96.0,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
409,Virginia,22202,VA,Arlington,0.0,1.0,1st Tier,39.196870,1.0,NaN,NaN,120.0,NaN,1
410,Virginia,22203,VA,Arlington,NaN,NaN,NaN,NaN,NaN,0.016767,1.0,NaN,248.0,1
411,Virginia,22204,VA,Arlington,NaN,NaN,NaN,NaN,NaN,0.015772,1.0,NaN,289.0,1
412,Virginia,22209,VA,Arlington,NaN,NaN,NaN,NaN,NaN,0.018144,1.0,NaN,194.0,1
413,Virginia,22314,VA,Alexandria,0.0,1.0,1st Tier,47.982304,1.0,0.020650,1.0,50.0,130.0,1

In [22]:
path = '/Users/yaseminerdemli/Documents/BA Courses/Dissertation/Project/Data/'

In [24]:
distances = pd.read_csv(os.path.join(path, "gaz2024zcta5distance50miles.csv"))
distances

          zip1   zip2  miles_to_zcta5
0          601    602       30.609310
1          602    601       30.609310
2          601    603       31.154277
3          603    601       31.154277
4          601    606       12.109263
...        ...    ...             ...
6063513  99922  99921       19.733911
6063514  99921  99925        9.839020
6063515  99925  99921        9.839020
6063516  99922  99925       17.227279
6063517  99925  99922       17.227279

[6063518 rows x 3 columns]

In [26]:
distances = distances[distances['miles_to_zcta5']<=5]

In [28]:
# distances with best zip codes
dist1 = distances[distances['zip1'].isin(rank['ZipCode'])]

In [30]:
len(dist1['zip1'].unique())

333

In [32]:
primary_zips = dist1['zip1'].unique()

In [34]:
dist1['PrimaryZipCodes'] = 1
dist1

/var/folders/39/0kg1rlr11j91fvq4zj6c67h40000gn/T/ipykernel_31240/207656860.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dist1['PrimaryZipCodes'] = 1

          zip1   zip2  miles_to_zcta5  PrimaryZipCodes
611441   10314   7008        3.512873                1
614495   10001   7010        4.957718                1
614523   10017   7010        4.879143                1
614525   10018   7010        4.616973                1
614527   10019   7010        3.894035                1
...        ...    ...             ...              ...
5947397  95678  95661        2.689021                1
5947458  95661  95746        4.480799                1
5950201  95678  95677        3.588656                1
5950454  95678  95747        4.421813                1
5950462  95678  95765        3.797209                1

[8893 rows x 4 columns]

In [36]:

# 1. Stack the two columns, get unique values - for including neighbours
unique_zips = pd.Series(
    pd.unique(dist1[['zip1', 'zip2']].values.ravel())
)

# 2. Turn into a DataFrame with one column
unique_df = unique_zips.to_frame(name='zip').reset_index(drop=True)

unique_df = unique_df.drop_duplicates()
unique_df.sort_values('zip')

        zip
1      7008
3      7010
27     7020
29     7022
30     7024
...     ...
1231  95678
1238  95746
1239  95747
1236  95762
1240  95765

[1241 rows x 1 columns]

In [38]:
dist2 = distances[distances['zip1'].isin(unique_df['zip'])]

In [40]:
dist2.sort_values('zip1')

          zip1   zip2  miles_to_zcta5
600239    7008   7001        2.216871
611438    7008  10312        3.631132
611436    7008  10311        2.918259
611432    7008  10309        3.749191
611430    7008  10308        4.523199
...        ...    ...             ...
5949203  95762  95671        4.858634
5949383  95762  95672        4.698860
5942821  95762  95630        4.315173
5950271  95765  95677        3.106766
5950463  95765  95678        3.797209

[29115 rows x 3 columns]

In [42]:
unique_zips = dist2['zip1'].unique()

# Create a DataFrame with self-referencing rows (distance to self = 0)
# include self zipcodes with 0 distances
self_distances = pd.DataFrame({
    'zip1': unique_zips,
    'zip2': unique_zips,
    'miles_to_zcta5': 0
})

# Concatenate with original DataFrame
dist2 = pd.concat([dist2, self_distances], ignore_index=True)

# Optional: Remove duplicates if any were created
dist2 = dist2.drop_duplicates(subset=['zip1', 'zip2'])

In [44]:
dist2.sort_values('zip1',ascending = False)

        zip1   zip2  miles_to_zcta5
29113  95765  95678        3.797209
30354  95765  95765        0.000000
29109  95765  95677        3.106766
29084  95762  95630        4.315173
29103  95762  95672        4.698860
...      ...    ...             ...
30      7008  10309        3.749191
31      7008  10311        2.918259
33      7008  10312        3.631132
35      7008  10314        3.512873
0       7008   7001        2.216871

[30356 rows x 3 columns]

In [46]:
dist2 = dist2.rename(columns = {'zip1':'ZipCode'})

In [48]:
master = pd.merge(dist2, df, how = 'left', on = 'ZipCode')
master

,ZipCode,zip2,miles_to_zcta5,State,state_abbreviation,USPS_ZIP_PREF_CITY,Higher Education,% Unemployment,"% Business, Science, Arts",% Poverty,...,numberofStarbucks,Average Daily Traffic Counts,Total Traffic Counts,Count of Transit Stops,EmployeeNumber,near_city_center,PotentialResidents,Competititors,HighIncomeDensity,Cluster
0,7008,7001,2.216871,New Jersey,NJ,Carteret,0.282018,0.061584,0.326142,0.123634,...,0.0,4595.384766,59740.0,33.0,0.0,0.0,4086.881454,0.0,379.341880,1.0
1,7036,7001,3.234306,New Jersey,NJ,Linden,0.232066,0.060773,0.296687,0.080655,...,0.0,20032.732420,600982.0,127.0,1616.0,0.0,8540.779716,0.0,280.440840,2.0
2,7064,7001,1.730832,New Jersey,NJ,Port Reading,0.327447,0.008966,0.429524,0.007803,...,0.0,7079.000000,21237.0,20.0,0.0,0.0,1158.127665,0.0,295.776787,1.0
3,10311,7001,4.953772,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7201,7002,3.571436,New Jersey,NJ,Elizabeth,0.157375,0.061998,0.201684,0.176551,...,0.0,16843.490230,791644.0,71.0,1016.0,0.0,2046.236568,0.0,189.282119,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30351,95762,95762,0.000000,California,CA,El Dorado Hills,0.548466,0.033296,0.575671,0.040806,...,4.0,78775.000000,315100.0,0.0,3478.0,0.0,16243.223788,1.0,170.772425,9.0
30352,95677,95677,0.000000,California,CA,Rocklin,0.387653,0.058909,0.443764,0.085176,...,4.0,109980.000000,549900.0,35.0,709.0,0.0,7298.736462,0.0,349.434710,2.0
30353,95746,95746,0.000000,California,CA,Granite Bay,0.570433,0.029008,0.629818,0.031952,...,2.0,18442.285160,645480.0,3.0,1739.0,0.0,10168.551706,0.0,253.019770,4.0
30354,95765,95765,0.000000,California,CA,Rocklin,0.525838,0.037926,0.548527,0.038090,...,5.0,70500.000000,282000.0,17.0,2512.0,0.0,13358.558618,0.0,499.580068,0.0
30355,95747,95747,0.000000,California,CA,Roseville,0.453982,0.045643,0.544593,0.064538,...,3.0,29436.439450,735911.0,53.0,1546.0,0.0,22506.700868,0.0,214.777107,0.0

In [50]:
master[master.isnull().any(axis=1)]

,ZipCode,zip2,miles_to_zcta5,State,state_abbreviation,USPS_ZIP_PREF_CITY,Higher Education,% Unemployment,"% Business, Science, Arts",% Poverty,...,numberofStarbucks,Average Daily Traffic Counts,Total Traffic Counts,Count of Transit Stops,EmployeeNumber,near_city_center,PotentialResidents,Competititors,HighIncomeDensity,Cluster
3,10311,7001,4.953772,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,10311,7008,2.918259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,10020,7010,4.360856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,10044,7010,4.605910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,10069,7010,3.086756,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30283,94523,94523,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30296,94720,94720,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30318,95118,95118,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30331,95132,95132,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30350,95671,95671,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
#master = master.dropna()

In [54]:
#to calculate missing potenital residents from neighours
demographics = pd.read_csv(os.path.join(path, "Demographics.csv"))
demographics

/var/folders/39/0kg1rlr11j91fvq4zj6c67h40000gn/T/ipykernel_31240/2941125558.py:2: DtypeWarning: Columns (1,3) have mixed types. Specify dtype option on import or set low_memory=False.
  demographics = pd.read_csv(os.path.join(path, "Demographics.csv"))

,ZIP CODE,land_area,population,people per sq mile,Basic Education,Higher Education,% Income < 40k,% 75k > Income > 40k,% 125k > Income > 75k,% Income > 125k,...,% 29 > Age > 18,% 39 > Age > 30,% 49 > Age > 40,% 69 > Age > 50,% Age > 70,% Unemployment,"% Business, Science, Arts",% Poverty,% Affluence,Median Income
0,1001,11.29249668,16064,1422.537476,0.575571537,0.34776637,0.131605431,0.267488688,0.295923501,0.304982394,...,0.126805276,0.116907373,0.117841132,0.29345119,0.168202192,0.04257321,0.459648699,0.084414743,0.370799154,89728
1,1002,53.25580216,30099,565.1778565,0.256189615,0.710799158,0.203429922,0.147447273,0.18470332,0.464419484,...,0.461311013,0.078308247,0.078341477,0.168012232,0.087012857,0.076882288,0.50424403,0.238056943,0.55982089,114866
2,1003,0.804123402,11588,14410.72363,0.82432431,0.175675675,0,1,0,0,...,0.984466672,0.000604073,0,0.000776666,0,0.201145768,0.284196556,0.615384638,0.153290749,
3,1005,43.18907547,5166,119.6135788,0.579653442,0.377864718,0.094644167,0.234042555,0.253118098,0.418195158,...,0.174990326,0.106465347,0.109756097,0.33643052,0.092721641,0.038709678,0.40974921,0.110556774,0.401936352,108457
4,1007,54.86940765,15080,274.8343811,0.499811023,0.465608478,0.109473176,0.17351377,0.332527816,0.384485245,...,0.140517235,0.123938993,0.127188325,0.295225471,0.101392575,0.035925422,0.52747643,0.049720448,0.459190041,110360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32984,99923,17.343693,12,0.691894,0,1,,,,,...,0,0,0,1,0,0,1,0,1,
32985,99925,53.626453,990,18.461039,0.753155708,0.147265077,0.202764973,0.230414748,0.262672812,0.304147482,...,0.127272725,0.090909094,0.160606056,0.310101002,0.098989896,0.127659574,0.261640787,0.180990905,0.237684444,80139
32986,99926,132.797745,1582,11.912853,0.825098813,0.088932805,0.307471275,0.238505751,0.295976996,0.158045977,...,0.1460177,0.130847022,0.120101139,0.252844512,0.073957019,0.152777776,0.41347906,0.213010207,0.220152617,70147
32987,99927,4.679345,0,0.0,,,,,,,...,,,,,,,,,,
32988,99929,2413.546631,2509,1.039549,0.713752687,0.168976545,0.20807454,0.336956531,0.225155279,0.229813665,...,0.121960938,0.094061382,0.110003985,0.305300921,0.159426063,0.059911896,0.399250239,0.080048271,0.266013473,67976

In [56]:
def convert_and_format_zipcodes(df, dtype_map, errors='coerce'):
    """
    Converts data types, formats ZIP-code-like columns, and renames them to 'ZipCode'.

    Parameters:
    - df: pd.DataFrame
    - dtype_map: dict — column names and target data types (e.g., 'int', 'float', 'str', 'datetime')
    - errors: str — 'coerce', 'ignore', or 'raise' (default: 'coerce')

    Returns:
    - df: pd.DataFrame — with updated types and standardized ZIP code handling
    """
    for col, dtype in dtype_map.items():
        if col in df.columns:
            # If it's a ZIP-code-like column
            if 'zip' in col.lower():
                df[col] = df[col].dropna().astype(int).astype(str).str.zfill(5)
                df.rename(columns={col: 'ZipCode'}, inplace=True)
                col = 'ZipCode'  # Update reference for type conversion

            # Handle other type conversions
            if dtype == 'datetime':
                df[col] = pd.to_datetime(df[col], errors=errors)
            elif dtype in ['int', 'float']:
                df[col] = pd.to_numeric(df[col], errors=errors)
            elif dtype == 'str':
                df[col] = df[col].astype(str)
            else:
                df[col] = df[col].astype(dtype)
        else:
            print(f"⚠️ Column '{col}' not found in DataFrame.")
    return df

In [58]:
dtype_map = {
    'ZIP CODE': 'int',
    'land_area': 'float',
    'people per sq mile': 'float',
    'Basic Education': 'float',              
    'Higher Education': 'float',            
    '% Income < 40k': 'float',
    '% 75k > Income > 40k': 'float',
    '% 125k > Income > 75k': 'float',
    '% Income > 125k': 'float',          
    '% Age < 18': 'float',            
    '% 29 > Age > 18': 'float',         
    '% 39 > Age > 30': 'float',         
    '% 49 > Age > 40': 'float',         
    '% 69 > Age > 50': 'float',         
    '% Age > 70': 'float',            
    '% Unemployment': 'float',         
    '% Business, Science, Arts': 'float',
    '% Poverty': 'float',         
    '% Affluence': 'float',          
    'Median Income': 'float'      
}

demog = convert_and_format_zipcodes(demographics, dtype_map)

In [60]:
demographics['PotentialResidents'] =demographics['% Income > 125k'] * demographics['population'] * (demographics['% 29 > Age > 18'] 
                                                                                   + demographics['% 39 > Age > 30']
                                                                                   + demographics['% 49 > Age > 40']
                                                                                   + demographics['% 69 > Age > 50'])

In [62]:
demographics = demographics[['ZipCode','PotentialResidents']]
demographics = demographics.dropna()

In [64]:
demographics

       ZipCode  PotentialResidents
0         1001         3209.024705
1         1002        10986.771916
2         1003            0.000000
3         1005         1571.995628
4         1007         3982.498153
...        ...                 ...
32982    99921          238.227664
32983    99922           32.620691
32985    99925          207.428579
32986    99926          162.471266
32988    99929          364.024848

[32162 rows x 2 columns]

In [66]:
# 1) Build a mapping from zip1 → demog PotentialResidents
pr_map = demographics.set_index('ZipCode')['PotentialResidents'].to_dict()

# 2) Use fillna on a mapped series
master['PotentialResidents'] = master['PotentialResidents'].fillna(
    master['ZipCode'].map(pr_map)
)

In [68]:
master['PotentialResidents'].isna().sum()

5523

In [70]:
master.columns

Index(['ZipCode', 'zip2', 'miles_to_zcta5', 'State', 'state_abbreviation',
       'USPS_ZIP_PREF_CITY', 'Higher Education', '% Unemployment',
       '% Business, Science, Arts', '% Poverty', 'Median Income',
       'numberofStarbucks', 'Average Daily Traffic Counts',
       'Total Traffic Counts', 'Count of Transit Stops', 'EmployeeNumber',
       'near_city_center', 'PotentialResidents', 'Competititors',
       'HighIncomeDensity', 'Cluster'],
      dtype='object')

In [72]:
master[master['PotentialResidents'].isna()].drop_duplicates().to_csv("/Users/yaseminerdemli/Documents/BA Courses/Dissertation/Project/Data/na_zips.csv", index=False)

In [74]:
master.dropna(subset=['PotentialResidents'], inplace=True)

In [76]:
master[master['ZipCode'] == 90034].head(60)

,ZipCode,zip2,miles_to_zcta5,State,state_abbreviation,USPS_ZIP_PREF_CITY,Higher Education,% Unemployment,"% Business, Science, Arts",% Poverty,...,numberofStarbucks,Average Daily Traffic Counts,Total Traffic Counts,Count of Transit Stops,EmployeeNumber,near_city_center,PotentialResidents,Competititors,HighIncomeDensity,Cluster
21626,90034,90008,3.526506,California,CA,Los Angeles,0.609791,0.04577,0.579127,0.087519,...,3.0,198333.3281,595000.0,109.0,515.0,1.0,16393.313321,0.0,3125.892862,8.0
21960,90034,90016,2.597144,California,CA,Los Angeles,0.609791,0.04577,0.579127,0.087519,...,3.0,198333.3281,595000.0,109.0,515.0,1.0,16393.313321,0.0,3125.892862,8.0
22058,90034,90018,4.712557,California,CA,Los Angeles,0.609791,0.04577,0.579127,0.087519,...,3.0,198333.3281,595000.0,109.0,515.0,1.0,16393.313321,0.0,3125.892862,8.0
22104,90034,90019,3.745685,California,CA,Los Angeles,0.609791,0.04577,0.579127,0.087519,...,3.0,198333.3281,595000.0,109.0,515.0,1.0,16393.313321,0.0,3125.892862,8.0
22280,90034,90024,3.168701,California,CA,Los Angeles,0.609791,0.04577,0.579127,0.087519,...,3.0,198333.3281,595000.0,109.0,515.0,1.0,16393.313321,0.0,3125.892862,8.0
22322,90034,90025,2.840251,California,CA,Los Angeles,0.609791,0.04577,0.579127,0.087519,...,3.0,198333.3281,595000.0,109.0,515.0,1.0,16393.313321,0.0,3125.892862,8.0
22603,90034,90035,1.644240,California,CA,Los Angeles,0.609791,0.04577,0.579127,0.087519,...,3.0,198333.3281,595000.0,109.0,515.0,1.0,16393.313321,0.0,3125.892862,8.0
22605,90034,90036,3.982582,California,CA,Los Angeles,0.609791,0.04577,0.579127,0.087519,...,3.0,198333.3281,595000.0,109.0,515.0,1.0,16393.313321,0.0,3125.892862,8.0
22607,90034,90043,4.644986,California,CA,Los Angeles,0.609791,0.04577,0.579127,0.087519,...,3.0,198333.3281,595000.0,109.0,515.0,1.0,16393.313321,0.0,3125.892862,8.0
22609,90034,90048,3.305009,California,CA,Los Angeles,0.609791,0.04577,0.579127,0.087519,...,3.0,198333.3281,595000.0,109.0,515.0,1.0,16393.313321,0.0,3125.892862,8.0
22611,90034,90056,3.104976,California,CA,Los Angeles,0.609791,0.04577,0.579127,0.087519,...,3.0,198333.3281,595000.0,109.0,515.0,1.0,16393.313321,0.0,3125.892862,8.0
22613,90034,90064,1.573054,California,CA,Los Angeles,0.609791,0.04577,0.579127,0.087519,...,3.0,198333.3281,595000.0,109.0,515.0,1.0,16393.313321,0.0,3125.892862,8.0
22615,90034,90066,2.655544,California,CA,Los Angeles,0.609791,0.04577,0.579127,0.087519,...,3.0,198333.3281,595000.0,109.0,515.0,1.0,16393.313321,0.0,3125.892862,8.0
22617,90034,90067,1.960045,California,CA,Los Angeles,0.609791,0.04577,0.579127,0.087519,...,3.0,198333.3281,595000.0,109.0,515.0,1.0,16393.313321,0.0,3125.892862,8.0
22619,90034,90069,4.499452,California,CA,Los Angeles,0.609791,0.04577,0.579127,0.087519,...,3.0,198333.3281,595000.0,109.0,515.0,1.0,16393.313321,0.0,3125.892862,8.0
22621,90034,90073,3.896829,California,CA,Los Angeles,0.609791,0.04577,0.579127,0.087519,...,3.0,198333.3281,595000.0,109.0,515.0,1.0,16393.313321,0.0,3125.892862,8.0
22623,90034,90094,3.972403,California,CA,Los Angeles,0.609791,0.04577,0.579127,0.087519,...,3.0,198333.3281,595000.0,109.0,515.0,1.0,16393.313321,0.0,3125.892862,8.0
22625,90034,90095,3.762386,California,CA,Los Angeles,0.609791,0.04577,0.579127,0.087519,...,3.0,198333.3281,595000.0,109.0,515.0,1.0,16393.313321,0.0,3125.892862,8.0
22627,90034,90210,4.908171,California,CA,Los Angeles,0.609791,0.04577,0.579127,0.087519,...,3.0,198333.3281,595000.0,109.0,515.0,1.0,16393.313321,0.0,3125.892862,8.0
22629,90034,90211,2.559030,California,CA,Los Angeles,0.609791,0.04577,0.579127,0.087519,...,3.0,198333.3281,595000.0,109.0,515.0,1.0,16393.313321,0.0,3125.892862,8.0
22631,90034,90212,2.185971,California,CA,Los Angeles,0.609791,0.04577,0.579127,0.087519,...,3.0,198333.3281,595000.0,109.0,515.0,1.0,16393.313321,0.0,3125.892862,8.0
22633,90034,90230,2.286395,California,CA,Los Angeles,0.609791,0.04577,0.579127,0.087519,...,3.0,198333.3281,595000.0,109.0,515.0,1.0,16393.313321,0.0,3125.892862,8.0
22635,90034,90232,0.894267,California,CA,Los Angeles,0.609791,0.04577,0.579127,0.087519,...,3.0,198333.3281,595000.0,109.0,515.0,1.0,16393.313321,0.0,3125.892862,8.0
22637,90034,90291,4.550512,California,CA,Los Angeles,0.609791,0.04577,0.579127,0.087519,...,3.0,198333.3281,595000.0,109.0,515.0,1.0,16393.313321,0.0,3125.892862,8.0
22639,90034,90292,4.817298,California,CA,Los Angeles,0.609791,0.04577,0.579127,0.087519,...,3.0,198333.3281,595000.0,109.0,515.0,1.0,16393.313321,0.0,3125.892862,8.0
22641,90034,90302,4.558054,California,CA,Los Angeles,0.609791,0.04577,0.579127,0.087519,...,3.0,198333.3281,595000.0,109.0,515.0,1.0,16393.313321,0.0,3125.892862,8.0
22643,90034,90404,4.258742,California,CA,Los Angeles,0.609791,0.04577,0.579127,0.087519,...,3.0,198333.3281,595000.0,109.0,515.0,1.0,16393.313321,0.0,3125.892862,8.0
22645,90034,90405,4.367569,California,CA,Los Angeles,0.609791,0.04577,0.579127,0.087519,...,3.0,198333.3281,595000.0,109.0,515.0,1.0,16393.313321,0.0,3125.892862,8.0
29843,90034,90034,0.000000,California,CA,Los Angeles,0.609791,0.04577,0.579127,0.087519,...,3.0,198333.3281,595000.0,109.0,515.0,1.0,16393.313321,0.0,3125.892862,8.0

In [78]:
import numpy as np
import pandas as pd

# master = pd.DataFrame({
#     'State': [...],
#     'zipcode': [...],            # as strings or ints
#     'miles_to_zcta5': [...]
# })

# 1) Define conditions (most specific first)…
conditions = [
    # San Francisco Bay Area zips (start with '94' or '95')
    master['ZipCode'].astype(str).str.startswith(('94', '95')),

    # CA or TX (all other CA/TX)
    master['State'].isin(['California', 'Texas']),

    # DC, MD, VA
    master['State'].isin(['District of Columbia', 'Maryland', 'Virginia']),

    # New York
    master['State'] == 'New York',
]

# 2) …and their thresholds
thresholds = [
    2,    # Bay-Area ZIPs ≤ 2 miles
    3,    # CA & TX ≤ 3 miles
    1,    # DC/MD/VA ≤ 1 mile
    0.7,  # NY ≤ 0.7 miles
]

# 3) Attach the per-row threshold
master['state_threshold'] = np.select(conditions, thresholds, default=np.nan)

# 4) Filter
filtered = master[master['miles_to_zcta5'] <= master['state_threshold']].copy()

# 5) (Optional) clean up
filtered.drop(columns='state_threshold', inplace=True)

In [80]:
filtered

,ZipCode,zip2,miles_to_zcta5,State,state_abbreviation,USPS_ZIP_PREF_CITY,Higher Education,% Unemployment,"% Business, Science, Arts",% Poverty,...,numberofStarbucks,Average Daily Traffic Counts,Total Traffic Counts,Count of Transit Stops,EmployeeNumber,near_city_center,PotentialResidents,Competititors,HighIncomeDensity,Cluster
2559,10001,10011,0.631692,New York,NY,New York,0.722097,0.045364,0.669814,0.115907,...,15.0,20661.85742,144633.0,20.0,16808.0,1.0,10653.390099,1.0,7334.592842,9.0
2560,10011,10001,0.631692,New York,NY,New York,0.809079,0.032432,0.735926,0.097073,...,8.0,24071.66602,144430.0,11.0,7903.0,1.0,29079.086729,1.0,16909.586563,6.0
2571,10001,10018,0.403099,New York,NY,New York,0.722097,0.045364,0.669814,0.115907,...,15.0,20661.85742,144633.0,20.0,16808.0,1.0,10653.390099,1.0,7334.592842,9.0
2572,10018,10001,0.403099,New York,NY,New York,0.757883,0.038781,0.684813,0.117393,...,7.0,5587.00000,11174.0,20.0,22411.0,1.0,4756.422529,0.0,5946.517463,0.0
2619,10001,10119,0.238943,New York,NY,New York,0.722097,0.045364,0.669814,0.115907,...,15.0,20661.85742,144633.0,20.0,16808.0,1.0,10653.390099,1.0,7334.592842,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30351,95762,95762,0.000000,California,CA,El Dorado Hills,0.548466,0.033296,0.575671,0.040806,...,4.0,78775.00000,315100.0,0.0,3478.0,0.0,16243.223788,1.0,170.772425,9.0
30352,95677,95677,0.000000,California,CA,Rocklin,0.387653,0.058909,0.443764,0.085176,...,4.0,109980.00000,549900.0,35.0,709.0,0.0,7298.736462,0.0,349.434710,2.0
30353,95746,95746,0.000000,California,CA,Granite Bay,0.570433,0.029008,0.629818,0.031952,...,2.0,18442.28516,645480.0,3.0,1739.0,0.0,10168.551706,0.0,253.019770,4.0
30354,95765,95765,0.000000,California,CA,Rocklin,0.525838,0.037926,0.548527,0.038090,...,5.0,70500.00000,282000.0,17.0,2512.0,0.0,13358.558618,0.0,499.580068,0.0
30355,95747,95747,0.000000,California,CA,Roseville,0.453982,0.045643,0.544593,0.064538,...,3.0,29436.43945,735911.0,53.0,1546.0,0.0,22506.700868,0.0,214.777107,0.0

In [82]:
filtered = filtered[['ZipCode','zip2','miles_to_zcta5','State', 'state_abbreviation',
       'USPS_ZIP_PREF_CITY', 'PotentialResidents', 'Competititors','EmployeeNumber']]
filtered

,ZipCode,zip2,miles_to_zcta5,State,state_abbreviation,USPS_ZIP_PREF_CITY,PotentialResidents,Competititors,EmployeeNumber
2559,10001,10011,0.631692,New York,NY,New York,10653.390099,1.0,16808.0
2560,10011,10001,0.631692,New York,NY,New York,29079.086729,1.0,7903.0
2571,10001,10018,0.403099,New York,NY,New York,10653.390099,1.0,16808.0
2572,10018,10001,0.403099,New York,NY,New York,4756.422529,0.0,22411.0
2619,10001,10119,0.238943,New York,NY,New York,10653.390099,1.0,16808.0
...,...,...,...,...,...,...,...,...,...
30351,95762,95762,0.000000,California,CA,El Dorado Hills,16243.223788,1.0,3478.0
30352,95677,95677,0.000000,California,CA,Rocklin,7298.736462,0.0,709.0
30353,95746,95746,0.000000,California,CA,Granite Bay,10168.551706,0.0,1739.0
30354,95765,95765,0.000000,California,CA,Rocklin,13358.558618,0.0,2512.0
30355,95747,95747,0.000000,California,CA,Roseville,22506.700868,0.0,1546.0

In [84]:
# 1) Make a weighted PR column:
filtered['PR_weighted'] = np.where(
    filtered['ZipCode'] == filtered['zip2'],
    filtered['PotentialResidents'],           # full value if they match
    filtered['PotentialResidents'] * 0.7      # otherwise 70%
)

/var/folders/39/0kg1rlr11j91fvq4zj6c67h40000gn/T/ipykernel_31240/1505158645.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['PR_weighted'] = np.where(

In [86]:
# 1) Make a weighted PR column:
filtered['Emp_weighted'] = np.where(
    filtered['ZipCode'] == filtered['zip2'],
    filtered['EmployeeNumber']*0.5,           # full value if they match
    filtered['EmployeeNumber'] * 0.25      # otherwise 70%
)

/var/folders/39/0kg1rlr11j91fvq4zj6c67h40000gn/T/ipykernel_31240/2824854606.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['Emp_weighted'] = np.where(

In [88]:
#how many of the neighbor zipcodes will come
# 2) Group & sum using that weighted column
master_agg = (
    filtered
    .groupby('ZipCode', as_index=False)
    .agg(
        PotentialResidents = ('PR_weighted', 'sum'),
        EmployeeNumber     = ('Emp_weighted', 'sum'),
        ZipCount           = ('ZipCode', 'size'),
        IncludedZips       = ('zip2', lambda x: ','.join(sorted(map(str, x.unique()))))
    )
)

In [90]:
master_agg

,ZipCode,PotentialResidents,EmployeeNumber,ZipCount,IncludedZips
0,10001,40482.882376,25212.00,5,"10001,10011,10018,10119,10199"
1,10002,7353.164030,1975.50,1,10002
2,10003,102821.062178,14153.75,4,"10003,10009,10010,10012"
3,10004,2552.668224,7696.50,1,10004
4,10005,36295.440985,52015.50,8,"10005,10006,10007,10038,10271,10278,10279,10280"
...,...,...,...,...,...
1051,95678,10048.444454,2335.00,1,95678
1052,95746,10168.551706,869.50,1,95746
1053,95747,22506.700868,773.00,1,95747
1054,95762,16243.223788,1739.00,1,95762
1055,95765,13358.558618,1256.00,1,95765

In [92]:
master_agg['PotentialMember'] = (master_agg['PotentialResidents'] + 
                                master_agg['EmployeeNumber']) * 0.1

In [94]:
master_agg['PotentialMember'] = master_agg['PotentialMember'].round()

In [96]:
master_agg = master_agg.sort_values('PotentialMember',ascending = False).reset_index()

In [98]:
master_agg

,index,ZipCode,PotentialResidents,EmployeeNumber,ZipCount,IncludedZips,PotentialMember
0,18,10022,223685.877169,577960.00,19,"10017,10020,10022,10065,10103,10111,10112,1015...",80165.0
1,14,10017,135058.859011,375259.50,20,"10016,10017,10020,10022,10103,10110,10111,1011...",51032.0
2,13,10016,269009.924749,75900.50,12,"10010,10016,10017,10110,10165,10167,10168,1016...",34491.0
3,16,10019,137474.264211,135083.25,8,"10019,10020,10023,10036,10103,10111,10112,10153",27256.0
4,915,94109,193700.656704,4782.25,10,"94102,94103,94104,94105,94108,94109,94111,9411...",19848.0
...,...,...,...,...,...,...,...
1051,262,20812,121.034488,0.00,1,20812,12.0
1052,213,14026,115.200005,0.00,1,14026,12.0
1053,948,94516,64.000000,0.00,1,94516,6.0
1054,279,20899,0.000000,0.00,1,20899,0.0
1055,989,94613,0.000000,0.00,3,"94601,94613,94619",0.0

In [100]:
master_agg.drop_duplicates()

,index,ZipCode,PotentialResidents,EmployeeNumber,ZipCount,IncludedZips,PotentialMember
0,18,10022,223685.877169,577960.00,19,"10017,10020,10022,10065,10103,10111,10112,1015...",80165.0
1,14,10017,135058.859011,375259.50,20,"10016,10017,10020,10022,10103,10110,10111,1011...",51032.0
2,13,10016,269009.924749,75900.50,12,"10010,10016,10017,10110,10165,10167,10168,1016...",34491.0
3,16,10019,137474.264211,135083.25,8,"10019,10020,10023,10036,10103,10111,10112,10153",27256.0
4,915,94109,193700.656704,4782.25,10,"94102,94103,94104,94105,94108,94109,94111,9411...",19848.0
...,...,...,...,...,...,...,...
1051,262,20812,121.034488,0.00,1,20812,12.0
1052,213,14026,115.200005,0.00,1,14026,12.0
1053,948,94516,64.000000,0.00,1,94516,6.0
1054,279,20899,0.000000,0.00,1,20899,0.0
1055,989,94613,0.000000,0.00,3,"94601,94613,94619",0.0

In [102]:
#master_agg['rank'] = master_agg['PotentialMember'].rank(method='dense', ascending=False).astype(int)#
#master_agg

In [104]:
master_agg['PrimaryZip'] = np.where(
    master_agg['ZipCode'].isin(primary_zips),
    1,
    0
)

In [106]:
master_agg

,index,ZipCode,PotentialResidents,EmployeeNumber,ZipCount,IncludedZips,PotentialMember,PrimaryZip
0,18,10022,223685.877169,577960.00,19,"10017,10020,10022,10065,10103,10111,10112,1015...",80165.0,1
1,14,10017,135058.859011,375259.50,20,"10016,10017,10020,10022,10103,10110,10111,1011...",51032.0,1
2,13,10016,269009.924749,75900.50,12,"10010,10016,10017,10110,10165,10167,10168,1016...",34491.0,1
3,16,10019,137474.264211,135083.25,8,"10019,10020,10023,10036,10103,10111,10112,10153",27256.0,1
4,915,94109,193700.656704,4782.25,10,"94102,94103,94104,94105,94108,94109,94111,9411...",19848.0,1
...,...,...,...,...,...,...,...,...
1051,262,20812,121.034488,0.00,1,20812,12.0,0
1052,213,14026,115.200005,0.00,1,14026,12.0,0
1053,948,94516,64.000000,0.00,1,94516,6.0,0
1054,279,20899,0.000000,0.00,1,20899,0.0,0
1055,989,94613,0.000000,0.00,3,"94601,94613,94619",0.0,0

In [108]:
zip = pd.read_csv("/Users/yaseminerdemli/Documents/BA Courses/Dissertation/Project/Data/zip_clean.csv")
zip.head()

         State  ZipCode state_abbreviation USPS_ZIP_PREF_CITY
0     New York      501                 NY         Holtsville
1     New York      544                 NY         Holtsville
2  Puerto Rico      601                 PR           Adjuntas
3  Puerto Rico      602                 PR             Aguada
4  Puerto Rico      603                 PR          Aguadilla

In [110]:
final = pd.merge(master_agg,zip,how=('left'),on='ZipCode')

In [112]:
final2 = pd.merge(final,rank[['ZipCode','Cluster', 'Cluster_Grouped', 'TierLabel', 'RankNetScore', 'rank',
       'TotalScore', 'ahp','rank_index','ahp_index']], how=('left'),on='ZipCode')

In [114]:
final2['rank_index'] = np.where(
    final2['rank_index'].notna(),                        # if not NaN
    'rank: ' + final2['rank_index'].astype(str),         #   prefix with “rank: ”
    'none'                                                 # else write “NA”
)

In [116]:
final2['ahp_index'] = np.where(
    final2['ahp_index'].notna(),                        # if not NaN
    'ahp: ' + final2['ahp_index'].astype(str),         #   prefix with “rank: ”
    'none'                                                 # else write “NA”
)

In [118]:
final2.to_csv("/Users/yaseminerdemli/Documents/BA Courses/Dissertation/Project/Data/ZipRanking3.csv", index=False)

In [126]:
final2[final2['ZipCode']==10022]

,index,ZipCode,PotentialResidents,EmployeeNumber,ZipCount,IncludedZips,PotentialMember,PrimaryZip,State,state_abbreviation,USPS_ZIP_PREF_CITY,Cluster,Cluster_Grouped,TierLabel,RankNetScore,rank,TotalScore,ahp,rank_index,ahp_index
0,18,10022,223685.877169,577960.0,19,"10017,10020,10022,10065,10103,10111,10112,1015...",80165.0,1,New York,NY,New York,6.0,1.0,1st Tier,173.76224,1.0,0.113284,1.0,rank: 1.0,ahp: 1.0